<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <a href="/user/my-jobs/all">
                    <div class="card mb-3 widget-content box-other">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Jobs Posted</div>
                                <div class="widget-subheading"></div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span><%=jobCount%></span></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-xl-4">
                <a href="/user/my-jobs/awarded">
                    <div class="card mb-3 widget-content box-anchor">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Jobs Awarded</div>
                            <div class="widget-subheading"></div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span><%=jobAwarded%></span></div>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-6 col-xl-4">
                <a href="/user/my-jobs/awarded">
                    <div class="card mb-3 widget-content bg-grow-early">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Jobs Completed</div>
                                <div class="widget-subheading">Only job accepted</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span><%=jobDoneCount%></span></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">Latest Job Applicants
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
<!--                                <button class="active btn btn-focus">Last Week</button>-->
<!--                                <button class="btn btn-focus">All Month</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="client_dasboard_jobs_tb">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Job</th>
                                <th class="text-left">Applicant</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" hidden >JobId</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% count = 1;
                                jobApps.map(j =>{ %>
                            <tr style="cursor: pointer;">
                                <td class="text-center text-muted"><%=count%></td>
                                <td class="text-left"><%=j.Job.title%></td>
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading"><%=j.User.firstname%> <%=j.User.lastname%></div>
                                                <div class="widget-subheading opacity-7"><%=j.User.jobTitle%></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <% if(j.status===null){ %>
                                        Pending
                                    <% }else{ %>
                                        <div class="badge badge-success"><%=j.status%></div>
                                    <% } %>
                                </td>
                                <td class="text-center text-muted" hidden ><%=j.Job.id%></td>
                            </tr>
                            <% count++; }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-block text-center card-footer">
                        <a href="/user/my-jobs/all" class="btn-wide btn btn-success">View All Job Applications</a>
                    </div>
                </div>
            </div>

        </div>
<% include ../layout/footer-portal.ejs %>