<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>


<div class="site-section bg-light">
    <div class="container">
            <div class="col-md-12">
                <form action="/freelancers" method="post" >
                    <div class="row form-group">
                        <div class="col-md-4 ">
                            <input type="text" id="keyword" name="keyword" class="form-control rounded" placeholder="eg. Alex" />
                        </div>
                        <div class="col-md-4" hidden>
                            <div class="select-wrap">
                                <span class="icon-keyboard_arrow_down arrow-down"></span>
                                <select name="country" id="country" class="form-control rounded">
                                    <option value="all" >All</option>
                                    <% countries.map(c =>{ %>
                                        <option value="<%=c.country%>"><%=c.country%></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <input type="submit" class="btn btn-success btn-block rounded" style="height: 45px;" value="Search">
                        </div>
                    </div>
                </form>
                    <h5><%=searchResult%></h5>
                <% frees.map( free => { %>
                    
                <div class="row" data-aos="fade" style="margin-bottom: 5px;">
                    <div class="col-md-12">

                        <div class="free-post-item bg-white p-4 d-block d-md-flex align-items-center">

                            <div class="mb-4 mb-md-0 mr-5">
                                <div class="job-post-item-header d-flex align-items-center">
                                    <%if(free.picture!==null){%>
                                        <img src="/images/<%=free.picture%>" class="rounded-circle" width="100px" height="100px" style="padding-right:5px;" />
                                        <% }else{ %> 
                                            <img src="img/avatar.jpg" class="rounded-circle" width="100px" height="100px" style="padding-right:5px;"/>  
                                        <% } %> 
                                        <h2 class="mr-3 text-black h6"><%=free.firstname %> <%=free.lastname %></h2>
                                        <div class="mr-3" style="position:absolute;left:30%;bottom:63px;">
                                            <span class="fl-bigmug-line-big104 alink"></span> 
                                            <a style="color: #0b0b0b" href="#">
                                            <%=free.city %>, <%=free.country %></a>
                                        </div>
                                   
                                </div>
                                
                            </div>

                            <div class="ml-auto">
                                <a href="/freelancer/<%=free.id %>" class="btn btn-success py-2">View</a>
                            </div>
                        </div>

                    </div>
                </div>

                <% }); %>



                </div>

    </div>
</div>

<% include ./layout/footer-public.ejs %>