<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>

<div class="site-blocks-cover" style="background-image: url(/img/home-banner.png);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row row-custom align-items-center">
      <div class="col-md-10">
        <h1 class="mb-2 text-black w-65"><span class="font-weight-bold" style="color:#fff"> Top freelancers</span></h1>
        <h3 class="mb-2 text-black w-75 text-left" style="color:#fff!important">Ready to be hired</h3>
        <div class="job-search">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link py-3 font-weight-bold" style="color:#fff" id="">Find A Job</a>
            </li>
          </ul>
            <div class="tab-pane fade show active">
              <form action="/jobs" method="post">
                <div class="row">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="text" id="keyword" name="keyword" class="form-control" placeholder="eg. Website" />
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="select-wrap">
                      <span class="icon-keyboard_arrow_down arrow-down"></span>
                      <select name="category" id="category" class="form-control">
                        <option value="all" >All</option>
                            <% category.map(cat =>{ %>
                            <option value="<%=cat.id%>" ><%=cat.name%></option>
                            <% }); %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="submit" class="btn btn-success btn-block" value="Search">
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-6" data-aos="fade" >
        
      </div>
    </div>
    <div class="text-center">
        <h3>Hire top freelancers or be hired for any job, any where. 
          Thousands of freelancers ready to get the job done with just a few clicks</h3>
          <a  href="/signup" class="btn btn-success py-3">Get Started</a>
    </div>
  </div>
</div>


<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-6" data-aos="fade" >
        <h2 class="text-black">Featured Categories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-5 mb-lg-0 col-lg-3" data-aos="fade">
        <div class="position-relative unit-8 text-center">
        <a href="" class="mb-3 d-block img-a"><img src="img/software.png" alt="Image" class="img-fluid rounded"></a>
        
        <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="#" class="text-black ">Software Development</a></h2>
        </div>
        
      </div>
      <div class="col-md-6 mb-5 mb-lg-0 col-lg-3" data-aos="fade">
        <div class="position-relative unit-8 text-center">
        <a href="" class="mb-3 d-block img-a"><img src="img/photo.png" alt="Image" class="img-fluid rounded"></a>
        
        <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="#" class="text-black ">Photography</a></h2>
        </div>
        
      </div>
      <div class="col-md-6 mb-5 mb-lg-0 col-lg-3" data-aos="fade">
        <div class="position-relative unit-8 text-center">
        <a href="" class="mb-3 d-block img-a"><img src="img/entry.png" alt="Image" class="img-fluid rounded"></a>
        
        <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="#" class="text-black text-center">Data Entry</a></h2>
        </div>
        
      </div>
      <div class="col-md-6 mb-5 mb-lg-0 col-lg-3" data-aos="fade">
        <div class="position-relative unit-8 text-center">
        <a href="" class="mb-3 d-block img-a"><img src="img/data.png" alt="Image" class="img-fluid rounded"></a>
        
        <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="#" class="text-black">Data Analysis</a></h2>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-6" data-aos="fade" >
        <h2 class="text-black">Choose<strong> Group 3 Freelance</strong> </h2>
      </div>
    </div>
    <div class="row hosting">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100">

        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class=" mr-4">
              <img class="" src="/img/jobs.svg" width="59px" height="68px" />
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              <!-- </svg><span class="unit-3-icon icon fl-bigmug-line-portfolio23"></span> -->
            </div>
            <h2 class="h5"><strong>Huge Database of Jobs</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">Group 3 Freeelance can boast of a huge database of jobs from all industries and sectors. You can search for any job.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="200">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/bestfree.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Best Freelancers</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">
              If you are client looking to get your job done successfully, this is the place to be. 
              We have the best freealncers</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="300">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/payment.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Seamless Payment System</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">Our payment structure is seamless and all monies are directed the right persons. We offer stripe payment.</p>
          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="400">

        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/creative.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Innovative and Challenging Jobs</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">If you are looking to test your skill in area, our platform provides you with the most innovative and interesting jobs.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="500">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/support1.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Excellent Support Team</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">Our support team is online and ready to help 24/7. We solve your problems as soon as possible.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="600">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/workspace.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Customized Workspce</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">
              Our platform has a workspace for every job being worked on which can be accessed by both parties.
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>


<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-start text-left mb-5">
      <div class="col-md-9" data-aos="fade">
        <h2 class="font-weight-bold text-black">Recent Jobs</h2>
      </div>
      <div class="col-md-3" data-aos="fade" data-aos-delay="200">
        <a href="/user/post-job" class="btn btn-success py-3 btn-block"><span class="h5">+</span> Post a Job</a>
      </div>
    </div>

    <% jobs.map( job => { %>
                    
      <div class="row" data-aos="fade">
          <div class="col-md-12">

              <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                  <div class="mb-4 mb-md-0 mr-5">
                      <div class="job-post-item-header d-flex align-items-center">
                          <h2 class="mr-3 text-black h6"><%=job.title %></h2>
                      </div>
                      <div class="job-post-item-body d-block d-md-flex">
                          <div class="mr-3"><span class="fl-bigmug-line-portfolio23 alink"></span> <a style="color: #0b0b0b" href="#"><%=job.JobCategory.name %>.</a></div>
                          <div><span class="alink">$</span> <span style="color: #0b0b0b" href="#"><%=job.price %></span></div>
                      </div>
                  </div>

                  <div class="ml-auto">
                      <a href="/job/<%=job.id %>" class="btn btn-success py-2">View Job</a>
                  </div>
              </div>

          </div>
      </div>

      <% }); %>

    </div>
    </div>


<% include ./layout/footer-public.ejs %>