<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>


<div class="site-section bg-light">
    <div class="container">

                <div class="col-md-12">
                    <h5><%=searchResult%></h5>
                <% jobs.map( job => { %>
                    
                <div class="row" data-aos="fade">
                    <div class="col-md-12">

                        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                            <div class="mb-4 mb-md-0 mr-5">
                                <div class="job-post-item-header d-flex align-items-center">
                                    <h2 class="mr-3 text-black h6"><%=job.title %></h2>
                                </div>
                                <div class="job-post-item-body d-block d-md-flex">
                                    <div class="mr-3"><span class="fl-bigmug-line-portfolio23 alink"></span> <a style="color: #0b0b0b" href="#"><%=job.JobCategory.name %>.</a></div>
                                    <div><span class="alink">$</span> <span style="color: #0b0b0b" href="#"><%=job.price %></span></div>
                                </div>
                            </div>

                            <div class="ml-auto">
                                <a href="/job/<%=job.id %>" class="btn btn-success py-2">Apply Job</a>
                            </div>
                        </div>

                    </div>
                </div>

                <% }); %>



                </div>

        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <div class="site-block-27">
                    <ul>
                        <% let num = parseInt(jobCount / 10) ; %>
                        <%if(page_no>1 && jobCount>10){ let prev = parseInt(page_no-1); %>
                            <li><a href="/jobs/<%=prev%>"><i class="icon-keyboard_arrow_left h5"></i></a></li>
                        <% } %>
                        <%if(page_no!==jobCount && jobCount>10){ let nextp = parseInt(page_no+1); %>
                            <li><a href="/jobs/<%=nextp%>"><i class="icon-keyboard_arrow_right h5"></i></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<% include ./layout/footer-public.ejs %>