<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8 mb-5" >



                <div class="p-5 bg-white" style="height: 800px;">

                    <div class="mb-4 mb-md-5 mr-5">
                        <div class="job-post-item-header d-flex align-items-center">
                            <h2 class="mr-3 text-black h4"><%= job.title %></h2>
                            <div class="badge-wrap">
                                <span class="bg-success text-white badge py-2 px-4">$ <%= job.price %></span>
                            </div>
                        </div>
                        <div class="job-post-item-body d-block d-md-flex">
                            <div class="mr-3"><span class="fl-bigmug-line-portfolio23 alink"></span> <a href="#" class="" style="color: #0b0b0b"><%= job.JobCategory.name %></a></div>
                            <div><span class="fl-bigmug-line-big104 alink"></span> <span style="color: #0b0b0b"><%= job.User.country %></span></div>
                        </div>
                    </div>
                    <div style="max-height: 500px;max-width:100%;overflow-y: auto;overflow-x: auto;">
                        <p><%= job.details %></p>
                    </div>
                    <% if(user){ %>
                        <% if(user.UserAccount.RoleId===2) { %>
                            <% if(user_applied){ %>
                            <% if(user_application.status==='awarded'){%> 
                                <p class="mt-5">
                                    <a href="/user/message-room/<%=job.User.id %>" class="btn btn-success  py-2 px-4">Contact Client</a>
                                    <a href="/user/accept-job/<%=user_application.id%>" class="btn btn-success  py-2 px-4">Accept</a>
                                    <a href="/user/reject-job/<%=user_application.id%>" class="btn btn-danger  py-2 px-4">Reject</a>
                                </p>
                            <%}else if(user_application.status==='accepted'){%>
                                <p class="mt-5"><a href="#" class="btn btn-success  py-2 px-4">Job Accepted</a></p>
                            <% }else{ %>
                                <p class="mt-5">
                                    <a href="/user/message-room/<%=job.User.id %>" class="btn btn-success  py-2 px-4">Contact Client</a>
                                    <a href="#" class="btn btn-success  py-2 px-4">Applied</a>
                                </p>
                            <% } %>
                        <%}else{ %>
                            <p class="mt-5">
                                <a href="/user/message-room/<%=job.User.id %>" class="btn btn-success  py-2 px-4">Contact Client</a>
                                <a href="/job-apply/<%=job.id %>" class="btn btn-success  py-2 px-4">Submit Application</a>
                            </p>
                            <% } %>


                        <% }else{ %>
                            <p class="mt-5">
                                <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-success  py-2 px-4">
                                    Log in as a freelancer to apply
                                </a>
                            </p>
                        <% } %>
                    <% }else{ %>
                        <p class="mt-5">
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-success  py-2 px-4">
                                Log in to apply
                            </a>
                        </p>
                    <% } %>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">


                <div class="p-4 mb-3 bg-white" style="height: 800px;">
                    <h3 class="h5 text-black mb-3">Related Jobs</h3>
                    <hr style="border-color: #0b0b0b" />
                    <% related_jobs.map( job => { %>
                    <a href="/job/<%=job.id %>" class="alink">
                        <div class="row" data-aos="fade" style="margin-bottom: 5px;width: 100%">
                            <div class="col-md-12">
                                <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                                    <div class="mb-6 mb-md-0 mr-5">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h6 class="mr-3 text-black h6"><%=job.title %></h6>
                                        </div>
                                        <div class="job-post-item-body d-block d-md-flex">
                                            <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a style="color: #0b0b0b" href="#"><%=job.JobCategory.name %>.</a></div>
                                            <div><span class="fl-bigmug-line-big104 alink"></span> <span style="color: #0b0b0b"><%=job.User.country %></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./layout/footer-public.ejs %>
<% include ./modals/login-modal.ejs %>