<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>Message Room
                        <div class="page-title-subheading">Click on a message to start chatting
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">All Messages</h5>
                        <ul class="list-group">
                            <% allMessages.map(am =>{%>
                            <li class="list-group-item">
                                <a href="/user/message-room/<%=am.ReceiverId%>" style="text-decoration: none;color: #0b0b0b;">
                                    <h5 class="list-group-item-heading">
                                    <img src="/images/<%=am.Receiver.picture%>" class="rounded-circle" width="40" height="40"/>
                                    <%=am.Receiver.firstname%> <%=am.Receiver.lastname%>
                                </h5>
                                <p class="list-group-item-text">
                                    <%=am.message%>
                                </p>
                                <p style="color:#BEC5D2;"><%=am.createdAt%></p>
                                </a>
                            </li>
                            <% }); %>
                         </ul>
                    </div>
                </div>
            </div>
            <div class="panel col-md-7" id="messages" name="messages" style="background-color:white;">
                <div class="panel-heading" style="background-color:#f0f0f0;height:60px;">
                    <div class="row" style="margin:10px;padding:10px;">
                        <img src="/images/<%=receiverDetails.picture%>" class="rounded-circle" width="40" height="40"/>
                        <h3><%=receiverDetails.firstname%> <%=receiverDetails.lastname%></h3>
                    </div>
                </div>
                <div class="panel-body" style="max-height: 350px;min-height:350px; overflow-y: scroll;">
                    <% messages.map(mess => {%>
                        <div class="card card-body col-md-8"
                        <% if(mess.SenderId===user.id){%>
                             style = "margin-bottom:5px;float:right;border-radius: 0.5rem 0.5rem 0 0.5rem;"
                        <% }else{ %>
                             style = "margin-bottom:5px;border-radius: 0.5rem 0.5rem 0 0.5rem;"
                                <% } %>
                        >
                            <p><%=mess.message%></p>
                        </div>
                    <% }); %>
                </div>
                <div class="panel-footer">
                    <form action="/user/send-message-user" method="post">
                        <div class="row">
                            <input class="form-control" id="receiver" name="receiver" value="<%=receiver%>" hidden/>
                            <textarea rows="2" class="form-control" placeholder="Type a message" style="width: 80%" id="message" name="message" required></textarea>
                            <button style="width: 20%" type="submit" class="btn btn-success py-1 px-2"><i class="pe-7s-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
<% include ../layout/footer-portal.ejs %>