<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="">
                        <%if(receiverDetails.picture!==null){%>
                            <img src="/images/<%=receiverDetails.picture%>" class="rounded-circle" width="70" height="70" />
                            <% }else{ %> 
                                <img src="/img/avatar.jpg" width="70" height="70" />  
                            <% } %> 
                    </div>
                    <div><%=receiverDetails.firstname%> <%=receiverDetails.lastname%>
                        <div class="page-title-subheading">You are not allowed to exchange personal contacts
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="main-card mb-3 card" style="height: 550px;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#4d4d4d !important">
                            Latest Messages
                        </h5>
                        <div class="">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="message_other_tb">
                                <thead>
                                <tr>
                                    <th class="text-left">From</th>
                                    <th class="text-left">Message</th>
                                    <th class="text-left">Date Received</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%inbox.map(i =>{ %>
                                <tr>
                                    <td class="text-left"><%=i.Sender.firstname%> <%=i.Sender.lastname%></td>
                                    <td>
                                        <a href="/user/message-room/<%=i.SenderId%>" class="alink">
                                            <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading" ><%=i.message%></div>
                                                </div>
                                            </div>
                                        </div>
                                        </a>
                                    </td>
                                    <td class="text-left">
                                        <%=i.createdAt%>
                                    </td>
                                </tr>
                                <%  }); %>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel col-md-6 col-lg-8 mb-5" id="messages" name="messages" style="background-color:white;height: 550px;">
                <div class="panel-body col" style="height:93%;max-height: 550px;min-height: 400px;overflow-y: scroll;">
                    <% messages.map(mess => {%>
                        <div class="card card-body col-md-8 col-lg-7 "
                        <% if(mess.SenderId===user.id){%>
                             style = "margin-bottom:10px;float:right;border-radius: 0.5rem 0.5rem 0 0.5rem;background-color: #99E4B7;color:whitesmoke;"
                        <% }else{ %>
                             style = "margin-bottom:10px;float:left;border-radius: 0.5rem 0.5rem 0 0.5rem;"
                                <% } %>
                        >
                            <p><%=mess.message%></p>
                        </div>
                    <% }); %>
                </div>
                <div class="panel-footer">
                    <form action="/user/send-message-user" method="post">
                        <div class="row">
                            <input class="form-control" id="receiver" name="receiver" value="<%=receiver%>" hidden/>
                            <input type="text" class="form-control" placeholder="Type a message" style="width: 90%" id="message" name="message" required />
                            <button style="width: 10%" type="submit" class="btn btn-success btn-sm"><i class="pe-7s-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
<% include ../layout/footer-portal.ejs %>