<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="main-card mb-3 card col-md-12" style="height: 650px;">
                <div class="card-header">
                    <h5 class="card-title" style="color:#4d4d4d!important"><%=title%></h5>
                </div>
                <div class="card-body">
                    <table class="mb-0 table table-borderless table-striped table-hover" id="freelancer_jobs_tb">
                        <thead>
                        <tr>
                            <th>Date Applied</th>
                            <th hidden >ID</th>
                            <th>Title</th>
                            <th hidden >Details</th>
                            <th hidden >TimeLength</th>
                            <th>Price</th>
                            <th hidden >Skills</th>
                            <th>Status</th>
                            <th>View Details</th>
                            <th>Workspace</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% jobApps.map( jobapp => { %>
                        <tr style="cursor: pointer;">
                            <td><%=jobapp.createdAt%></td>
                            <td hidden><%=jobapp.id%></td>
                            <td><%=jobapp.Job.title%></td>
                            <td hidden ><%=jobapp.Job.details%></td>
                            <td hidden><%=jobapp.Job.timeLength%></td>
                            <td><%=jobapp.Job.price%></td>
                            <td hidden><%=jobapp.Job.skills%></td>
                            <td>
                                <div class="row">
                                    <% if(jobapp.status===null){ %>
                                        pending
                                    <% }else{ %>
                                        <%=jobapp.status%>
                                    <% } %>
                                </div>
                            </td>
                            <td class="text-left" ><a href="/user/job-view/<%=jobapp.Job.id%>" class="btn btn-success"><i class="pe-7s-look"></i></a></td>
                            <td>
                                <% if(jobapp.status==="accepted"){ %>
                                    <a href="/user/workspace/<%=jobapp.id%>" class="btn btn-success">View Workspace</a>
                                <% }else{ %>
                                    <a class="btn btn-secondary" style="color:#fff">View Workspace</a>
                                <% } %>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<% include ../layout/footer-portal.ejs %>