<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
                <div class="main-card mb-3 card col-md-12" style="height: 650px;">
                    <div class="card-header">
                        <h5 class="card-title" style="color:#4d4d4d!important"><%=title%></h5>
                    </div>
                    <div class="card-body">
                        <p>Click on a job to view its information and workspace</p>
                        <table class="mb-0 table table-borderless table-striped table-hover" id="client_jobs_tb">
                            <thead>
                            <tr>
                                <th>Date Posted</th>
                                <th hidden >ID</th>
                                <th>Title</th>
                                <th hidden>Details</th>
                                <th hidden>Duration</th>
                                <th>Price</th>
                                <th hidden>Skills</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% jobs.map( job => { %>
                            <tr style="cursor: pointer;">
                                <td><%=job.createdAt%></td>
                                <td hidden><%=job.id%></td>
                                <td><%=job.title%></td>
                                <td hidden><%=job.details%></td>
                                <td hidden><%=job.timeLength%></td>
                                <td>USD <%=job.price%></td>
                                <td hidden><%=job.skills%></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
<% include ../layout/footer-portal.ejs %>