<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    
                </div>
                <div class="page-title-actions">
                    <a class="mt-2 btn btn-success" data-toggle="modal" data-target="#support-modal">Write to Support</a>
                    <% if(user.UserAccount.RoleId===2){%>
                        <a href="/user/complete-job/<%=jobAppDetail.id%>" class="mt-2 btn btn-success">
                            Complete Job
                        </a>
                    <% }else if(user.UserAccount.RoleId===1){ %>
                        <% if(contract_details.status==="completed"){ %>
                        <a href="/user/client-accept-job/<%=jobAppDetail.id%>" class="mt-2 btn btn-success">
                            Accept Job
                        </a>
                        <a href="/user/client-reject-job/<%=jobAppDetail.id%>" class="mt-2 btn btn-danger">
                            Reject Job
                        </a>
                    <% } } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 card" style="height: 800px;">
                <div class="card-header">
                    <ul class="nav nav-justified">
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-0" class="active nav-link">Job Details</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-1" id="tab2" class="nav-link">Discussion</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-2" class="nav-link">Files</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-3" class="nav-link">Payment</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" style="height:450px;">
                        <div class="tab-pane active" id="tab-eg7-0" role="tabpanel">
                            <% include ../forms/workspace-job-detail.ejs %>
                        </div>
                        <div class="tab-pane" id="tab-eg7-1" role="tabpanel">
                            <% if(jobPayment){ %>
                                <% if(jobPayment.clienPay===null) {%>
                                    <%if(user.UserAccount.RoleId===1){%>      
                                        <span class="badge btn-danger">Make payment to start work</span> 
                                    <% }else{ %>  
                                        <span class="badge btn-danger">Client has not made payment</span>
                                    <% } %>                  
                                <% }else{%>
                                    <% include ../forms/workspace-job-chat.ejs %>
                                <% } }else{%>
                                    <%if(user.UserAccount.RoleId===1){%>      
                                        <span class="badge btn-danger">Make payment to start work</span> 
                                    <% }else{ %>  
                                        <span class="badge btn-danger">Client has not made payment</span>
                                    <% } %> 
                            <% } %>
                        </div>
                        <div class="tab-pane" id="tab-eg7-2" role="tabpanel">
                            <% if(jobPayment){ %>
                                <% if(jobPayment.clienPay===null) {%>      
                                    <%if(user.UserAccount.RoleId===1){%>      
                                        <span class="badge btn-danger">Make payment to start work</span> 
                                    <% }else{ %>  
                                        <span class="badge btn-danger">Client has not made payment</span>
                                    <% } %>                      
                                <% }else{%>
                                    <% include ../forms/workspace-job-file.ejs %>
                                <% } }else{%>
                                    <%if(user.UserAccount.RoleId===1){%>      
                                        <span class="badge btn-danger">Make payment to start work</span> 
                                    <% }else{ %>  
                                        <span class="badge btn-danger">Client has not made payment</span>
                                    <% } %>  
                            <% } %>
                        </div>
                        <div class="tab-pane" id="tab-eg7-3" role="tabpanel">
                            <% if(user.UserAccount.RoleId===1){ %>
                            <div class="row">
                                <a style="margin-right: 5px;" class="btn btn-success" href="/user/invoice/<%=jobAppDetail.id%>">Print</a>
                                    <% if(jobPayment){ %>
                                        <% if(jobPayment.clienPay===null) {%>
                                            <a class="btn btn-success" data-toggle="modal" data-target="#make-payment-info">Make Payment</a>
                                        <% }else{ %>
                                            <span class="badge btn-success">Payment has been made</span>
                                        <% } %>
                                    <% }else{ %>
                                        <a class="btn btn-success" data-toggle="modal" data-target="#make-payment-info">Make Payment</a>
                                <% }  %>
                                
                            </div>
                            <% include ./invoice.ejs %>
                            <% }else if(user.UserAccount.RoleId===2){ %>
                            <div class="row">
                                <a style="margin-right: 5px;" class="btn btn-success" href="/user/invoice/<%=jobAppDetail.id%>">Print</a>
                                <% if(user_payment===null){ %>
                                    <a class="btn btn-success" href="/user/payment">Add Payment Information</a>
                                <% }else { %>
                                    <% if(jobPayment){ %>
                                        <% if(jobPayment.freelancePay===null) {%>
                                        <%if(contract_details.status!=="accepted"){}else{%>
                                            <a class="btn btn-success" data-toggle="modal" data-target="#request-payment-info">Request Payment</a>
                                            <% } %>
                                        <% }else{ %>
                                            <span class="badge btn-success">Payment has been made</span>
                                        <% } %>
                                    <% }else{ %>
                                        <span class="badge btn-danger">Client has not made payment</span>
                                <% } } %>
                            </div>
                            <% include ./freelancer_payout.ejs %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include ../layout/footer-portal.ejs %>
<% include ../modals/make-payment-info.ejs %>
<% include ../modals/support-modal.ejs %>
<% include ../modals/request-payment-info.ejs %>
<% include ../modals/review-client-info.ejs %>
<% include ../modals/review-freelancer-info.ejs %>