<div class="main-card mb-3 card col-md-12" style="height:650px;">
    <div class="card-header">
        <h5 class="card-title" style="color:#4d4d4d!important">Payment Details</h5>
    </div>
    <div class="card-body">
        <% if(error){ %>
            <div class="alert alert-danger" role="alert">
                <strong><%=error%></strong>
            </div>
            <% }else if(success){%>
            <div class="alert alert-success" role="alert">
                <strong><%=success%></strong>
            </div>
        <% } %>
        <div class="justify-content-end" style="float:right;">
            <a id="edit"  class="btn btn-success" href="#">Edit</a>
        </div>
        <form id="fmprofile" class="" action="/user/add-payment-account" method="post">
            <input name="id" id="id" placeholder="" type="text" class="form-control" value="<%=user.id%>" hidden><br />
            <div class="form-row">
                <div class="position-relative form-group col-md-7" style="margin-bottom: 50px;">
                    <label for="title" class="">Stripe Account ID: </label>
                    <input name="account_id" id="account_id" placeholder="eg. cus_ax34tefzwe" type="text" 
                    <% if(accountNumber){ %>
                        value="<%=accountNumber%>" 
                    <%}else if(user.UserPaymentInfo){%>
                        value="<%=user.UserPaymentInfo.accountNumber%>" 
                    <% } %>
                    class="form-control" required />
                </div>
                <div class="position-relative form-group col-md-7">
                    <label for="title" class="">Dont have a Stripe Account ?</label>
                    <a href='/user/create-stripe-account' class="btn btn-success">Create an account for free</a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="mt-2 btn btn-success py-2 px-4" value="Add">
            </div>
        </form>
    </div>
</div>