<div class="row">
    <div class="col-md-6">
        <div>
            <label>Title: </label>
            <label><%= job.title %></label><br/>
        </div>
        <div>
            <label>Price: </label>
            <label>USD <%= job.price %></label><br/>
        </div>
        <div>
            <label>Duration: </label>
            <label><%= job.timeLength %></label><br/>
        </div>
        <div>
            <label>Details: </label>
            <label><%= job.details %></label><br/>
        </div>
        
    </div>

    <div class="col-md-4">
        <div>
            <label>Category: </label>
            <label><%= job.JobCategory.name %></label><br/>
        </div>
        <div>
            <label>Skills Required: </label>
            <label><%= job.timeLength %></label><br/>
        </div>
        <div>
            <label>Job Status: </label>
            <% if(contract_details.status==="start") { %>
                <label class="badge badge-success"><%= contract_details.status %></label><br/>
            <% }else if(contract_details.status==="completed"){ %>
                <label class="badge badge-success"><%= contract_details.status %></label><br/>
            <% }else if(contract_details.status==="accepted"){ %>
                <label class="badge badge-success"><%= contract_details.status %></label><br/>
            <% }else if(contract_details.status==="rejected"){ %>
                <label class="badge badge-danger"><%= contract_details.status %></label><br/>
            <% } %>
        </div>
    </div>
</div>